Beginning of the template.

Input value x = {{x}}
{% if x>0 %}x>0{% else %}x<0{% endif %}



{% for i in range(3) %}
Current interate: {{ i }}
Current value: {{ x + i }}
{% endfor %}



End of the template.